/* Font */

body,
a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

/* Layout */

body {
  background-color: #0e4873;
}

.content-container {
  background-color: #0e4873;
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  background-color: #0e4873;
  height: 100vh;
}

main {
  flex-grow: 1;
  background-color: #fff;
}

/* Header */

.header-container {
  background-color: #f0d296;
  max-width: 1000px;
  margin: 0 auto;
  height: 100%;
}
.header-wrapper {
  background-color: #f0d296;
}

header section {
  background-color: #f0d296;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 50;
}

header nav ul {
  margin-right: 2rem;
}

.nav-icon {
  width: 30px;
  padding: 0;
}

.hamburger,
.search-icon {
  width: 30px;
  margin-left: 15px;
}

nav li {
  display: inline-block;
}

.gamehub_logo {
  width: 125px;
  height: 79px;
  margin-left: 70px;
}

.nav-menu {
  background-color: #f0d296;
  display: none;
}

.desktop-nav-menu-links {
  border: 2px solid #000;
  border-radius: 5px;
  background-color: ##a28b5e;
}

/* DROP DOWN MENU */
.dropdown-menu {
  display: none;
}

#hamburger-menu:checked ~ .dropdown-menu {
  display: flex;
}

.dropdown-menu-links {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown-menu-links li {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: ##a28b5e;
  margin: 10px;
  padding: 10px;
}

#hamburger-menu {
  position: absolute;
  left: 10px;
  top: 20px;
  width: 30px;
  height: 30px;
  appearance: none;
}

/* Main Page */

body {
  flex: 1 1 100%;
  height: 100vh;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

h1 {
  color: #0e4873;
  text-align: center;
}

.information-box {
  grid-column: 1/3;
  grid-row: 1/3;
  font-size: 14px;
}

.section-purchase {
  grid-column: 1/3;
  grid-row: 3/4;
}
.section-sold {
  grid-column: 1/2;
  grid-row: 5/6;
}

.purchases,
.sold {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.purchases,
.sold,
.information-box {
  border: 1px solid #0e4873;
  background-color: #fff;
  margin: 10px;
  padding: 5px;
}

.item {
  width: 100px;
  height: 150px;
  margin: 1%;
}

.item img {
  width: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: #0e4873;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .social-media li {
  display: inline-flex;
  margin-left: 10px;
  margin-right: 10px;
}

/*ALTERNATIVE SCREEN DESKTOP*/

@media (min-width: 900px) {
  .nav-menu {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    margin: ;
  }

  .nav-menu div {
    margin: 10px;
    padding: 0px 20px 0px 20px;
  }
  .hamburger {
    display: none;
  }

  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
  }
  .information-box {
    grid-column: 1/3;
    grid-row: 1/5;
  }

  .section-purchase {
    grid-column: 3/5;
    grid-row: 1/3;
  }

  .section-sold {
    grid-column: 3/4;
    grid-row: 3/6;
  }
}
